#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
  padding: 25px 0;
  margin: 0 calc(-50vw + 50%);
  padding-left: calc(50vw - 50% + 2rem);
  padding-right: calc(50vw - 50% + 2rem);
}

.footer-logo {
  transform: rotate(-90deg);
  margin-left: -4rem;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  flex: 3;
}

.footer-link-column {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-link-column:last-child {
  margin-right: 2rem;
}

.footer-menu-header {
  margin: 0 0 1rem 0;
  margin-bottom: 0;
  color: #3a4b46;
}

.footer-link-column li a {
  font-size: 0.8rem;
  line-height: 0;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: black;
  text-shadow: 0.5px 0 0.5px currentColor;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 3rem;
}

.logo {
  width: 200px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
}

.menu li a {
  position: relative;
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 2;
  background: #3a4b46;
  position: relative;
  padding-bottom: 2rem;
  margin: 0 calc(-50vw + 50%);
  padding-left: calc(50vw - 50% + 2rem);
  padding-right: calc(50vw - 50% + 2rem);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  text-align: left;
  padding: 4rem 0 2rem 0;
  margin-left: 1rem;
  color: white;
  position: relative;
}

.hero-intro h1 {
  color: #c3a510;
}

.hero-intro h1,
.ahero-intro h2 {
  margin: 0;
  line-height: 1.2;
}

.hero-intro h2 {
  margin-top: 0.25rem;
}

.hero-image {
  position: absolute;
  right: calc(50vw - 40% + 2rem);
  top: 1rem;
}

.hero-image img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight-heading {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.highlight-cards {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 3;
}

.highlight-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  text-align: left;
  border-radius: 16px;
  padding-bottom: 1rem;
}

.highlight-card img {
  border-radius: 16px 16px 0 0;
}

.highligh-description {
  padding: 1rem;
}

.highlight-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.testimonials {
  margin: 2rem calc(-50vw + 50%);
  padding: 4rem calc(50vw - 50%);
  background-image: url("/src/assets/restaurant.jpg");
  background-size: cover;
  background-position: center;
}

.testimonial-cards {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonial-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  text-align: left;
  border-radius: 16px;
  padding: 1rem;
}

.testimonial-card-inline {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 2;
  position: relative;
  padding-bottom: 2rem;
  margin: 4rem 0 2rem 0;
}

.about-restaurant {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  text-align: left;
  margin-left: 1rem;
}

.about-restaurant h1,
.about-restaurant h2 {
  margin: 0;
  line-height: 1.2;
}

.about-restaurant h2 {
  margin-top: 0.25rem;
}

.about-images {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}

.about-images img:first-child {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-images img:last-child {
  position: relative;
  z-index: 2;
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: -3rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    margin: 0 -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-intro {
    width: 100%;
    margin-left: 0;
    padding: 2rem 1rem;
    gap: 0.25rem;
  }

  .hero-image {
    display: none;
  }

  .highlight-heading {
    flex-direction: column;
    align-items: center;
  }

  .highlight-cards {
    flex-direction: row;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 4rem;
    flex: unset;
    width: 100%;
    padding-bottom: 1rem;
  }

  .highlight-card {
    min-width: 60%;
    flex-shrink: 0;
  }

  .testimonials {
    width: 100%;
    margin: 0 -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-logo {
    transform: rotate(0deg);
    margin-left: 0;
  }

  .footer-menu {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: unset;
  }

  .footer-link-column {
    text-align: center;
  }

  .footer-link-column:last-child {
    margin-right: 0;
  }
}
