#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem 2rem 0 2rem; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: black;
  text-shadow: 0.5px 0 0.5px currentColor;
}
